/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Raleway:wght@100;500;800;900&display=swap');
/**
font-family: 'Anton', sans-serif;
font-family: 'Raleway', sans-serif;
**/
a {
  color: #0366d6;
}
code {
  color: #e01a76;
}
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.welcome_section{
  height: 100vh;
}
.tittle_casino{
  font-size: 50px;
  text-align: center;
  color: rgba(186,155,0,1);
}
.parpadea {
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}
/*NEW*/
.header{
	display: flex;
	width: 100%;
	height: 100vh;
	align-items: center;
	color: #fff;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: 0 auto;
	text-align: center;
}
.header-video{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
.header-video video{
  min-height: 100%;
  min-width: 100%;
}
.header-overlay{
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #303952;
	z-index: 1;
	opacity: .85;
}
.header-content{
	z-index: 2;
	width: 100%;
  margin:0 auto;
}

.header-content h1 {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 0;
  font-family: 'Anton', sans-serif;
  font-size: 100px;
  text-transform: uppercase;
  background: linear-gradient(to right, #f3f725 0%, #9fa31e 100%);
  background-clip: text;
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: glow 2s ease-in-out infinite alternate;
}
.header-content h2{
  color: #e5e5e5;
  display: block;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 2rem;
  text-align: center;
}
.btn-play{
  display: block;
  width: 150px;
  height: auto;
  margin: 5px auto;
  padding: 10px;
  border-radius: 5px;
  border: none;
  border-bottom: 5px solid #116363;
  border-left: 5px solid #116363;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  background: #178383;
  text-transform: uppercase;
  transition: all 0.5s ease-in;
}
.btn-play:hover{
  background: rgb(18, 155, 155);
}
button:focus {
  outline: none;
  outline: none;
}
.floating{
  position: relative;
  top: 0;
  -webkit-animation: floating 2s ease infinite; /* IE 10+, Fx 29+ */
  -moz-animation: floating 2s ease infinite; /* IE 10+, Fx 29+ */
  -o-animation: floating 2s ease infinite; /* IE 10+, Fx 29+ */
  animation: floating 2s ease infinite; /* IE 10+, Fx 29+ */
}
.info_game{
  margin-top: 10px;
  padding: 5px;
  font-family: 'Raleway', sans-serif;
}
.info_game h1{
  color: #0c7b83;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: bold;
}
.info_game p{
  font-size: 20px;
}
.line_tittle, .line_tittle_2{
  width: 70%;
  height: 2px;
  background-color: #0c7b83;
  margin: 0 auto;
  margin-bottom: 20px;
}
.developers{
  margin-top: 20px;
  background-color: #0c7b83;
  color: #ffffff;
  overflow: hidden;
}
.developers h1{
  color: #ffffff;
}

.line_tittle_2{
  background-color: #ffffff;
}
.card{
  margin: 10px auto;
}
/*GAME PANEL*/
.game_panel{
  display: block;
  width: 100%;
  height: 100vh;
  background-image: url("assets/background_panel.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
}
.game_start{
  position: absolute;
  top: 50vh;
  left: 45vw;

}
.info_game_1{
  position: absolute;
  top: 1px;
  right: 10px;
  color: #b4c21b;
}
.info_game_2{
  display: block;
  position: absolute;
  background: #ffffff;
  width: 350px;
  height: auto;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  bottom: 5px;
  right: 10px;
  z-index: 1;
  opacity: 0.9;
}
.info_game_2 h1 {
  color: #05451d;
}
.info_game_2 input{
  opacity: 1;
  border: none;
  border-bottom: 2px solid #05451d;
  border-radius: 0;
  font-weight: bold;
  font-size: 20px;
  width: 150px;
  margin: 0 auto;
  text-align: center;
}
.form-control:focus{
    border-color: none;
    box-shadow: none;
}
.cards_game_computer, .cards_game{
  display: block;
  width: 100vw;
  position: absolute;
  overflow: hidden;
}
.cards_game_computer{
  top: 10px;
  left: 0;
}
.cards_game{
  bottom: 10px;
  left: 0;
}
.cards_game_computer ul, .cards_game ul{
  width: 100%;
  margin-left: 5px;
  background-color: transparent!important;
}
.cards_game_computer ul:first-child, .cards_game ul:first-child
{
  margin-left: 5px;
}
.cards_game_computer ul li, .cards_game ul li{
  max-width: 150px;
  background-color: transparent!important;
  padding: 5px;
}
.cards_game_computer ul li img, .cards_game ul li img{
  width: 100%;
}
.lastInfo{
  min-height: 50px;
  max-height: 50px;
  height: 50px;
  background-color: #11111f;
  line-height: 48px;
  color: #a2a2a2;
  overflow: hidden;
}
@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes floating {
	50% {
		top: 15px;
	}
	100% {
		top: 0px;
	}
}
@-moz-keyframes floating {
	50% {
		top: 15px;
	}
	100% {
		top: 0px;
	}
}
@-o-keyframes floating {
	50% {
		top: 15px;
	}
	100% {
		top: 0px;
	}
}
@keyframes floating {
	50% {
		top: 15px;
	}
	100% {
		top: 0px;
	}
}
@keyframes glow {
  from {
    text-shadow: 0 0 20px #c9dd10;
  }
  to {
    text-shadow: 0 0 30px #b4c21b, 0 0 10px #839108;
  }
}
#edson{
  height: 301px;
}
.test{
  width: 70%!important;
  margin: 0 auto;
}
.breadcrumb{
  background-color: transparent!important;
}
.breadcrumb-item a{
  font-size: 20px!important;
  color: #a2a2a2!important;
}
.breadcrumb-item.active{
  font-size: 19px!important;
  color: #ffffff!important;
}