<div class="container-fluid game_panel">
    <nav aria-label="breadcrumb" *ngIf="!isPlaying">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Black Jack</li>
        </ol>
    </nav>
    
    <div class="game_start" *ngIf="!isPlaying">
        <button class="btn btn-danger btn-lg text-center btnPlay" (click)="createDeck()">
            Play 
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
            </svg>
        </button>
        &nbsp;
        <button class="btn btn-primary btn-lg text-center"  [routerLink]="['/records']">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-journal-text" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1H2a2 2 0 0 1 2-2z"/>
                <path d="M2 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2z"/>
                <path fill-rule="evenodd" d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
            </svg>
            Records
        </button>
    </div>
    <!-- <div class="info_game_1">
        <p class="right-text"> 
            <span>Player: {{userPoints}}</span>
            &nbsp;
            Computer:
            <span *ngIf="!computerTurn">XX</span>
            <span *ngIf="computerTurn"> {{computerPoints}}</span>
        </p>
    </div> -->
    <div class="info_game_2" *ngIf="isPlaying">
        <h1 class="text-center" *ngIf="!computerTurn">Game</h1>
        <form action="" *ngIf="!computerTurn">
            <div class="form-group text-center">
                <label for="cards_number">How many cards do you want?</label>
                <input type="number" class="form-control" name="cards_number" id="cards_number" value="1" min="1" max="52" [(ngModel)]="quantity">
            </div>   
            <div class="form-group text-center">
                <button class="btn btn-info" (click)="WantCards()">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M12 1H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zM8.5 6a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V10a.5.5 0 0 0 1 0V8.5H10a.5.5 0 0 0 0-1H8.5V6z"/>
                    </svg>
                    Give me
                </button>
                <br>
                <br>
                <button class="btn btn-warning" (click)="computerGame()">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-slash-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.146-3.146a.5.5 0 0 0-.708-.708l-7 7a.5.5 0 0 0 .708.708l7-7z"/>
                    </svg>
                    I´m fine
                </button>
                <br>
                <br>
                <button class="btn btn-danger" (click)="shuffledCards()">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-union" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M0 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2H2a2 2 0 0 1-2-2V2z"/>
                    </svg>
                    Shuffle
                </button>
            </div>   
        </form>
    </div>
    <!-- <div class="info_game_2" *ngIf="computerTurn">
        <div class="form-group text-center">
            <form action="">
                <a class="btn btn-info" (click)="refresh()">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M12 1H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zM8.5 6a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V10a.5.5 0 0 0 1 0V8.5H10a.5.5 0 0 0 0-1H8.5V6z"/>
                    </svg>
                    Volver a jugar
                </a>
            </form>
        </div>
    </div> -->
    <div class="cards_game" *ngIf="cards">
        <div class="row text-center">
            <ul class="list-group list-group-horizontal text-center">
                <li class="list-group-item" *ngFor="let card of cards">
                    <img [src]="card.image" [alt]="card.code">
                </li>
            </ul>
        </div>
    </div>
    <div class="cards_game_computer" *ngIf="isPlaying">
        <div class="row text-center">
            <ul class="list-group list-group-horizontal text-center">
                <li class="list-group-item" *ngFor="let card of cardsComputer">
                    <img [src]="card.image" [alt]="card.code">
                </li>
                <li class="list-group-item" *ngIf="hidden && cardsComputer.length >0">
                    <img src="assets/computer_game.png">
                </li>
            </ul>
        </div>
    </div>
</div>