<header class="header">
  <div class="header-video">
    <video autoplay="autoplay" loop preload="auto" muted>
      <source src="/assets/principal_home_2.mp4" type="video/mp4" />
      <img src="/assets/video_home.png" alt="Video no soportado" />
    </video>
  </div>
  <div class="header-overlay"></div>
  <div class="header-content">
    <div class="row text-center">
      <h1 data-aos="fade-up">FaEd´S CASINO</h1>
      <h2 data-aos="fade-down">Try the <strong>21</strong> virtual game</h2> 
    </div>
    <div class="row text-center">
      <button class="btn-play floating" [routerLink]="['/game']">
        Go to Play
      </button>
    </div>
  </div>
</header>
<div class="container info_game">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 data-aos="fade-down">Some Rules</h1>
      <div class="line_tittle"></div>
    </div>
    <br>
    <div class="col-md-4 text-center" data-aos="fade-up-right">
      <img src="/assets/21_number.png" alt="21" width="70%">
    </div>
    <div class="col-md-8" data-aos="fade-left">
      <p class="text-justify">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.793 8 8.146 5.354a.5.5 0 0 1 0-.708z"/>
          <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5H11a.5.5 0 0 1 0 1H4.5A.5.5 0 0 1 4 8z"/>
        </svg>
        If you get 21, you win.
      </p>
      <p class="text-justify">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.793 8 8.146 5.354a.5.5 0 0 1 0-.708z"/>
          <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5H11a.5.5 0 0 1 0 1H4.5A.5.5 0 0 1 4 8z"/>
        </svg>
        If you get an "A" and a "10", "J", "Q" or "K" card, you win.
      </p>
      <p class="text-justify">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.793 8 8.146 5.354a.5.5 0 0 1 0-.708z"/>
          <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5H11a.5.5 0 0 1 0 1H4.5A.5.5 0 0 1 4 8z"/>
        </svg>
        If you get more than 21 you lose.
      </p>
      <p class="text-justify">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.793 8 8.146 5.354a.5.5 0 0 1 0-.708z"/>
          <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5H11a.5.5 0 0 1 0 1H4.5A.5.5 0 0 1 4 8z"/>
        </svg>
        If you get 21 and the computer too, it´s a tie.
      </p>
      <p class="text-justify">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.793 8 8.146 5.354a.5.5 0 0 1 0-.708z"/>
          <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5H11a.5.5 0 0 1 0 1H4.5A.5.5 0 0 1 4 8z"/>
        </svg>
        The value of "A" card is "1" or "11".
      </p>
    </div>
  </div>
</div>

<div class="container-fluid developers info_game">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 data-aos="fade-down">Developers</h1>
      <div class="line_tittle_2"></div>
    </div>
    <br>
  </div>
  <div class="row">
    <div class="col-md-6 text-center" data-aos="flip-left">
      <div class="card" style="width: 18rem;">
        <img (mouseenter) ="mouseEnter()"  (mouseleave) ="mouseLeave()" [src]="imgAssets" id="fabricio" class="card-img-top" alt="Fabricio Avatar">
        <div class="card-body">
          <p class="card-text text-dark">
            Fabricio Vega
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 text-center" data-aos="flip-right">
      <div class="card" style="width: 18rem;">
        <img src="/assets/edson.jpg" id="edson" class="card-img-top" alt="Edson Avatar">
        <div class="card-body">
          <p class="card-text text-dark">
            Edson Álvarez
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid lastInfo">
  <p class="text-center">  
    © Copyrights © 2020 All rights reserved by FAED'S CASINO                      
  </p>
</div>

