.divChart{
    display: flex;
    /* padding-top: 9%; */
}
.test{
    width: 100%;
    height: 700px;
    background-color: lemonchiffon;
    margin-top: 20px;
}
.ChartAll{
    display: block;
    height: 498px;
    width: 498px;
    padding-top: 5%;
    margin-left: 10%;
}
.otherChart{
    display: block;
    height: 498px;
    width: 498px;
    padding-top: 5%;
    margin-left: 10%
}
.titleRecords{
    font-size: 50px;
    font-family: cursive;
    text-align: center;
    padding-top: 10px;
}
#btnBack{
    padding-left: 10px;
    margin-top: 5px;
}