<div class="container-fluid game_panel">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/game']">Game</a></li>
            <li class="breadcrumb-item active" aria-current="page">Records</li>
        </ol>
    </nav>
    
    <div class="test">
        <h1 class="titleRecords">Won and lost games</h1>
        <div class="divChart">
            <div class="ChartAll">
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
            <div class="otherChart">
                <canvas id="myChart2" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
</div>