<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center text-white">Cards Administration</h1>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-12" *ngIf="!cards">
            <button class="btn btn-success" (click)="data()">Crear cartas</button>
        </div>
    </div>
</div>
<div class="container bg-white">
    <div class="row">
        <div class="col-md-12">
            <table class="table" *ngIf="cards">
                <thead>
                  <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Value</th>
                    <th scope="col">Suit</th>
                    <th scope="col">Value</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let card of cards">
                        <td>{{ card.code }}</td>
                        <td>{{ card.value }}</td>
                        <td>{{ card.suit }}</td>
                        <td>{{ card.image }}</td>
                    </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
